* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.w-100 {
    width: 100%;
}

.w-1140 {
    width: 1140px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-btwn {
    justify-content: space-between;
}

.header {
    position: fixed;
    justify-content: baseline;
    z-index: 1;
    width: 100%;
}

.header .header-logo h1 {
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.header .header-logo h1 span {
    color: red;
}

.header .header-navbar ul li {
    position: relative;
    padding: 10px;
}

.header .header-navbar ul ul {
    position: absolute;
    left: 0;
    top: 30px;
    width: 170px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.865);
    display: none;
}

.header .header-navbar ul ul ul {
    left: -171px;
    top: 0;

}

.header .header-navbar ul ul li a:hover {
    color: red;
}

.header .header-navbar ul li a {
    color: #7f7f90;
    font-size: 16px;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    font-weight: 400;
}

.header .header-navbar ul li a:hover {
    color: black;
}

.header .header-navbar ul li:hover>ul {
    display: block;
}

.header .header-btn button {
    padding: 10px 20px;
    color: white;
    background-color: red;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
}

.hero-bgcolor {
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 120px;
}

.hero-left {
    width: 40%;
    align-content: center;

}

.hero-right {
    width: 40%;


}


.hero-left h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 66px;
    color: rgb(55, 55, 63);

}

.hero-left p {
    color: rgb(55, 55, 63);
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    font-size: 23px;
    margin: 10px 0;
}

.hero-btn a button {
    padding: 13px 30px;
    color: white;
    background-color: red;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    margin-right: 12px;
}

button:hover {
    opacity: 0.8;
}

.hero-btn {
    margin-top: 30px;
}

.hero-btn a {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: black;
}

.hero-btn a i {
    font-size: 28px;
    color: red;
}

.hero-right img {
    width: 100%;
    animation-name: up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes up {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }


}



.hero-btn span:hover {
    color: red;
}

.testi-title {
    text-align: center;
    margin-top: 100px;
}

.testi-title h3 {
    font-size: 14px;
    color: #7f7f90;
    font-family: "Inter", sans-serif;
    font-weight: 100;
}

.testi-title h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 45px;
    margin: 10px 0;
}

.testimoinal {
    justify-content: center;
}

.testi-title h1 span {
    color: red;
}

.testi-left {
    width: 40%;
}

.testi-left p {
    font-size: 17px;
    font-family: "Inter", sans-serif;
    color: #212529ea;
    font-style: italic;
}

.testi-left p i {
    color: rgb(246, 174, 186);
    font-size: 18px;
}

.testi-left h3 {
    color: #37373F;
    font-family: "Amatic SC", sans-serif;
    font-size: 21px;
    font-weight: bolder;
    margin-top: 15px;
}


.testi-left span {
    color: #37373F;
    font-family: "Amatic SC", sans-serif;
    font-size: 17px;
    margin-top: 5px;



}

.testi-left .star i {
    color: #ffc107;
    margin-top: 12px;
}

.testi-right {
    width: 18%;
    padding: 0 25px 25px 25px;
}

.testi-right img {
    width: 100%;
    border-radius: 100%;
}

/* footer start */

.bgcolor {
    background-color: #1f1f24;
    ;
}

.footer {
    margin-top: 100px;
    background-color: #1f1f24;
    padding: 35px;
}

.footer .col-1 {
    width: 25%;
}

.footer .col-1 h4 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.footer .col-1 .icon i{
    color: red;
    font-size: 26px;
}
.footer .col-1 .info{
    margin-left: 10px;
}
.footer .col-1 p {
    font-size: 15px;
    color: white;
    font-weight: 400;
    margin: 10px 0;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.footer .col-1 .social i{
    padding: 10px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 100%;
}

.footer .col-1 .social a{
    color: grey;
}

.footer .col-1 .social a:hover{
    color: red;
}
.bgcolor .line{
    width: 100%;
    color: grey;
    height: 2px;
}

.cp{
    text-align: center;
}

.cp span{
    color: white;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.cp p{
    color: white;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    font-size: 14px;
    margin-top: 5px;
}

.cp p a{
    color: red;
   
}

